#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-45420977-ccb0-44c3-8609-8033d81b7649 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}