#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_218 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Panel_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  -pie-background: linear-gradient(to bottom,#007DB7,#00AEFF);
  -pie-poll: false;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Panel_4 {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}