#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_1 {
  rotation: 90.0;
  margin-left: 48px;
  margin-top: -49px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62263413-1c5f-4ad9-80ce-fbc4a924f31c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}