#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Rectangle_8 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Search {
  border-collapse: separate;
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_218 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Panel_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  -pie-background: linear-gradient(to bottom,#007DB7,#00AEFF);
  -pie-poll: false;
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Panel_4 {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-725aa2ce-f2b7-4a6d-a35e-156864cf4f70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}