#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Ellipse_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_218 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Panel_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  -pie-background: linear-gradient(to bottom,#007DB7,#00AEFF);
  -pie-poll: false;
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Panel_4 {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af87fe9b-f3bd-46d9-aed1-d5edebabac01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}