#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Line_1 {
  rotation: 90.0;
  margin-left: 76px;
  margin-top: -77px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b8b49422-8c2e-4704-b90d-8e45ab3b07f2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}