#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_3 {
  rotation: 90.0;
  margin-left: 76px;
  margin-top: -77px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_1 {
  rotation: 90.0;
  margin-left: 105px;
  margin-top: -106px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}