#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_14 {
  -pie-background: linear-gradient(to bottom,#FFFFFF,#EEEEF0);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_1 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_38 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_218 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Panel_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  -pie-background: linear-gradient(to bottom,#007DB7,#00AEFF);
  -pie-poll: false;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Panel_4 {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4A86E8;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Callout_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Rectangle_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_2 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Line_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_3 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Ellipse_4 {
  stroke-width: 2px;
  stroke: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c4dc1e9c-923a-447a-8f9e-03b097671e61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}